/** Reset **/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.emails-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    border: 1px solid black;
    background-color: rgb(46, 52, 113);
    margin: 20px 20px;
}

.emails-container .emails-container-header{
    margin-bottom: 20px;

}

.emails-container .emails-container-header h1{
    color: #08FF08;
    padding-top: 5px;
}

.emails-container .emails-container-main ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    color: #ffffff;
}

.emails-container .emails-container-main ul li{
    display: flex;
    justify-content: center;
    border: 1px solid red;
    width: calc((100% / 5) - 20px);
    margin-bottom: 10px;
}